{% extends "core.html" %}
{% load static %}

{% block additional_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'viewer/view.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <nav class="sticky-top navbar navbar-expand-lg justify-content-between navbar-light bg-light"> <!-- Navigation bar -->
            <div class="flex-grow-1 navigation-buttons d-flex justify-content-start">
                {#                {{ slide_filename }}#}
                <button class="btn btn-outline-secondary" id="menuToggle">Toggle Files</button>
            </div>


            <!-- Previous and Next buttons (1/3 of the page) -->
            <div class="navigation-buttons d-flex justify-content-between align-items-center" style="width: 800px;">
                <a href="{% url 'slide' path=previous_slide %}" class="btn btn-info">Previous</a>
                {% if slide_filename|length > 60 %}
                    {{ slide_filename|slice:":60" }}...
                {% else %}
                    {{ slide_filename }}
                {% endif %}
                <a href="{% url 'slide' path=next_slide %}" class="btn btn-info">Next</a>
            </div>

            <!-- Back to Catalog button (1/3 of the page) -->
            <div class="flex-grow-1 navigation-buttons d-flex justify-content-end align-items-right">
                <a href="{% url 'list_view' %}" class="btn btn-dark">Back to Catalog</a>
            </div>


        </nav>

        <div class="row">
            <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse show {% if 'sidebar-collapsed' in request.COOKIES %}collapsed{% endif %}"
                 id="sidebarMenu">

                <div class="position-sticky sidebar-scrollable">
                    <ul class="nav flex-column">
                        {% include "files.html" with files=available_files current_file=slide_filename %}
                    </ul>
                </div>


            </nav>

            <!-- Main Content -->
            <main role="main"
                  class="col-md-9 ml-sm-auto col-lg-10 px-md-4 {% if 'sidebar-collapsed' in request.COOKIES %}col-md-12 col-lg-12{% endif %}"
                  id="mainContent">
                <div id="view" data-slide-url="{{ slide_url }}"
                     data-prefix-url="{% static 'viewer/openseadragon-4.1.0/images/' %}">
            </main>

        </div>
        <div id="properties" class="col-12">
            <h1>Slide properties</h1>
            {% if properties %}
                <div id="properties-inner">
                    <dl>
                        {% for key, value in properties.items %}
                            <dt data-toggle="collapse" data-target="#{{ key|slugify }}">{{ key }}</dt>
                            <dd id="{{ key|slugify }}" class="collapse">{{ value }}</dd>
                        {% endfor %}
                    </dl>
                </div>
            {% else %}
                <span class="notice">Could not load properties</span>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script src="{% static 'viewer/view.js' %}"></script>
{% endblock %}
